body{padding-top:20px;}

.newPostButton {
    font-family: "Roboto", sans-serif;
    background: #4CAF50;
    color: #FFFFFF;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border: 0;
    margin: 15px;
  }
  
  .newPostButton:hover,.newPostButton:active,newPostButton:focus {
    background: #43A047;
  }