h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #43A047;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #43A047;
  }

.logoutButton {
  font-family: "Roboto", sans-serif;
  background: #4CAF50;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border: 0;
  margin: 15px;
}

.logoutButton:hover,.logoutButton:active,logoutButton:focus {
  background: #43A047;
}